@import "@/assets/scss/base/_variables.scss";
@import "@/assets/scss/layout/breakpoints.scss";

footer {
    height: auto;
    width: 100%;
    background-color: $default-blue;
    position: absolute;
    bottom: 0;
    font-family: $default-font-family;
    font-size: $base-font-size;

    .footer-content {
        padding: 61px 0px;

        .footer-logo {
            display: flex;
            justify-content: center;
            margin-bottom: 32px;

            @include xs-breakpoint {
                margin-bottom: 14px;
            }
        }

        .footer-info {
            color: $default-white;
            font-weight: $base-font-weight;
            line-height: $default-line-height;
            margin-bottom: 20px;

            @include xs-breakpoint {
                font-size: $xs-font-size;
                line-height: $xs-line-height;
                margin-bottom: 12px;
            }

            @include sm-breakpoint {
                text-align: center;
            }
        }

        .footer-links {
            ul {
                list-style: none;

                @include sm-breakpoint {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                li {
                    float: left;
                    margin-left: 46px;

                    &:first-child {
                        margin-left: 0;
                    }

                    a {
                        font-family: $default-font-family;
                        font-weight: $medium-font-weight;
                        font-size: $base-font-size;
                        line-height: $default-line-height;
                        color: $default-white;
                        text-decoration: none;
                        transition: .3s;

                        &:hover {
                            color: $details-color;
                        }

                        @include xs-breakpoint {
                            font-size: 12px;
                            line-height: 22px;
                        }
                    }

                    @include sm-breakpoint {
                        margin: 0px 0px 8px 0px;

                        &:last-child {
                            margin-bottom: 15px;
                        }
                    }

                    @include md-breakpoint {
                        margin-left: 23px;
                    }
                }
            }
        }

        @include sm-breakpoint {
            padding: 22px 0px 0px 0px;
        }
    }
}
