@import "@/assets/scss/base/_variables.scss";
@import "@/assets/scss/layout/breakpoints.scss";

.menu {
    display: flex;
    align-items: center;
    position: relative;
    height: 50px;
    width: 100%;
    background-color: $default-blue;
    top: 0;
}

.main {
    width: calc(100% - 260px);
    margin: 0 auto;

    @include xs-breakpoint {
        width: calc(100% - 16px);
    }

    @include sm-breakpoint {
        width: calc(100% - 32px);
    }
}

.main.logo {
    @include xs-breakpoint {
        text-align: center;
    }

    @include sm-breakpoint {
        text-align: center;
    }
}