@import "@/assets/scss/base/_variables.scss";
@import "@/assets/scss/layout/breakpoints.scss";

.heading-options {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 37px;

    @include xs-breakpoint {
        width: 304px;
        margin-bottom: 23px;
    }
    
    @include sm-breakpoint {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12px;
        width: 304px;
    }
}

.title {
    color: $default-white;
    font-family: $default-font-family;
    font-weight: $base-font-weight;
    font-size: 36px;
    line-height: 42px;
    margin: 45px 0px 22px 0px;
    float: left;
    
    @include xs-breakpoint {
        font-size: $medium-font-size;
        line-height: 21px;
        margin-bottom: 19px;
        margin-left: auto;
        margin-top: 16px;
    }

    @include sm-breakpoint {
        text-align: center;
        float: initial;
    }
}

.search {
    display: flex;
    flex-direction: column;
    width: 100%;

    #searchbar {
        width: 349px;
        height: 50px;
        background: $default-blue;
        border-radius: 8px;
        outline: none;
        border: none;
        padding: 0px 20px 0px 50px;
        caret-color: $details-color;
        color: $default-white;
        font-size: $medium-font-size;
        background-image: url('../../../public/img/search_icon.png');
        background-position: left 19px top 50%;
        background-repeat: no-repeat;
        position: relative;
        z-index: 9;

        &::placeholder {
            font-family: $default-font-family;
            font-weight: $light-font-weight;
            line-height: 21px;
            color: $default-white;

            @include xs-breakpoint {
                line-height: 16px;
                font-size: $base-font-size;
            }
        }

        @include xs-breakpoint {
            width: 96%;
            height: 36px;
            font-size: $base-font-size;
            background-position: left 12px top 50%;
            padding: 0px 10px 0px 40px;
        }
    }

    @include sm-breakpoint {
        margin-top: 0;
    }
}